{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
<title>Listings</title>
{% endblock %}

{% block body %}
<div class="container">
  {% if listings|length < 1 %}
    <h4 style="text-align: center">There are no listings.</h4>
  {% else %}
  <div class="card-columns">
    {% for listing in listings %}
    <div class="card">
      <img src="{{ listing['nft'].imageUrl }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ listing['nft'].name }}</h5>
        <p class="card-text">Listing Id: {{ listing['listingId'] }}</p>
        <p class="card-text">Token Id: {{ listing['tokenId'] }}</p>
        <p class="card-text">Price: {{ listing['price'] }}</p>
        <p class="card-text">Listing Type: {{ listing['listingType'] }}</p>
        <p class="card-text text-truncate">{{ listing['nft'].description }}</p>
        <a href="/nft/{{ listing.tokenId }}?listingId={{ listing['listingId']}}" class="card-link">More</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}  
</div>
{% endblock %}